[submodule "library/berani-common-filament-plugin"]
	path = library/berani-common-filament-plugin
	url = https://github.com/beranidigital/berani-common-filament-plugin
[submodule "library/filament-access"]
	path = library/filament-access
	url = https://github.com/beranidigital/filament-access
[submodule "library/laravel-model-audit"]
	path = library/laravel-model-audit
	url = https://github.com/beranidigital/laravel-model-audit
[submodule "library/filament-model-audit"]
	path = library/filament-model-audit
	url = https://github.com/beranidigital/filament-model-audit
