[submodule "library/berani-common-filament-plugin"]
	path = library/berani-common-filament-plugin
	url = https://github.com/beranidigital/berani-common-filament-plugin
[submodule "library/filament-access"]
	path = library/filament-access
	url = https://github.com/beranidigital/filament-access
